.kepler4neo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.kepler4neo__k4n_ui{
    max-width:600px;
    margin-left: 10px;
}

.kepler4neo__k4n_antwerp{
    max-width: 500px;
}

@media (max-width: 1200px){
    .kepler4neo{
      grid-template-columns: 1fr;
    }
    .kepler4neo__k4n_ui{
      max-width: 450px;
      width:100%;
      margin-left: 20%;
    }
    .kepler4neo__k4n_antwerp{
      max-width: 400px;
      width: 95%;
      margin-left: 10%;
    }
  }

  @media (min-width: 1200px){
    .kepler4neo__text{
      /* margin-top: auto;
      margin-bottom: auto;
      margin-right: 20px; */
    }
  }
