.kepler4neo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kepler4neo__scrn{
  max-width: 500px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px){
    .kepler4neo{
      grid-template-columns: 1fr;
    }
  }

