.skillbar{
    width: 100%; 
    background-color: #ddd; 
    border-radius: 5px;
    margin: 20px 10px;
  }
  
  .skillbar__completion{
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-right: 40px;
    color: white;
    background:linear-gradient(to left, #03abc5 5%, #00ddff 100%);
    background-color: #3EABC5;
    border-radius: 5px;
  }
  
  .skillbar__completion--size-100{
    width: 90%; 
  }

  .skillbar__completion--size-80{
    width: 80%; 
  }

  .skillbar__completion--size-60{
    width: 60%; 
  }

  .skillbar__completion--size-40{
    width: 40%; 
  }

  .skillbar__text{
      margin-right: 20px;
  }